
section.column-1{
  background-color: red;
  display: inline-block;
  position: relative;
  padding:2%;
  vertical-align: top;
  width: 40%;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

section.column-2{
   background-color:blue;
   display: inline-block;
   position: relative; 
   padding:2%;
   vertical-align: top;
   width:40%;
   font-family: "Comic Sans MS", cursive, sans-serif;
}
h2:hover{
  color:white;
}